:root {
  --color-buttons: #8e7299;
  --color-stars: #e7a757;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  background: #c1cfdb;
}

.lato {
  font-family: 'Lato', sans-serif;
}

/*--------------------------------------------------------------
# search
--------------------------------------------------------------*/
.search-control button {
  background-color: var(--color-buttons);
  border: none !important;
}

/*--------------------------------------------------------------
# cards
--------------------------------------------------------------*/
.list-group-item {
  -webkit-animation: 1s ease 0s normal forwards 1 fadein;
  animation: 1s ease 0s normal forwards 1 fadein;
}

.rating {
  color: var(--color-stars);
}

.app-title {
  font-size: 3rem;
  display: flex;
}

.app-title svg,
.header h1 svg {
  margin-right: 20px
}

.search-container .input-group {
  margin-top: 12px;
}

/*--------------------------------------------------------------
# display
--------------------------------------------------------------*/
#root .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background-color: var(--color-buttons);
}

.card-header-pills {
  align-items: center;
  min-width: 100%;
  justify-content: space-between;
  margin: 0px auto;
}

.header h1 {
  display: flex;
}

.cat-name {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.cat-origin {
  font-size: 1.2rem;
}

/*--------------------------------------------------------------
# breakpoints
--------------------------------------------------------------*/
@media all and (max-width: 576px) {
  #root .cat-traits:first-of-type {
    margin-top: 2.6rem !important;
  }

  #root .cat-traits:last-of-type {
    margin-top: 0 !important;
  }
}

/*--------------------------------------------------------------
# keyframes
--------------------------------------------------------------*/
@keyframes fadein {
  0% {
    opacity: 0;
  }

  66% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }

  66% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}